In [97]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in ./tdsenv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in ./tdsenv/lib/python3.12/site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in ./tdsenv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./tdsenv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./tdsenv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./tdsenv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [101]:
import numpy as np
import json
from pprint import pprint

In [40]:
file_path = "/mnt/c/Users/vikas/Downloads/ecom.txt"

with open(file_path, 'r') as file:
    json_array = file.read()

data = json.loads(json_array)
df = pd.DataFrame(data)

In [55]:
df2 = df[df["price"]<84.97].sort_values(by = ["category", "price", "name"], axis=0, ascending=[1,0,1])

In [44]:
df.groupby("price").count()

        category  name
price
20.21          1     1
26.98          1     1
30.90          1     1
32.11          1     1
39.02          1     1
...          ...   ...
192.52         1     1
192.88         1     1
194.43         1     1
195.48         1     1
196.42         1     1

[99 rows x 2 columns]

In [96]:
pprint(df2.to_json(orient="records"))

('[{"category":"Apparel","price":77.93,"name":"Smart '
 'Gadget"},{"category":"Apparel","price":75.56,"name":"Mini '
 'Tool"},{"category":"Apparel","price":48.79,"name":"Mini '
 'Device"},{"category":"Apparel","price":47.09,"name":"Deluxe '
 'Item"},{"category":"Apparel","price":39.02,"name":"Deluxe '
 'Gadget"},{"category":"Apparel","price":26.98,"name":"Pro '
 'Device"},{"category":"Books","price":82.67,"name":"Ultra '
 'Device"},{"category":"Books","price":73.75,"name":"Pro '
 'Set"},{"category":"Books","price":73.2,"name":"Pro '
 'Widget"},{"category":"Books","price":69.09,"name":"Mini '
 'Set"},{"category":"Books","price":65.94,"name":"Mini '
 'Device"},{"category":"Books","price":64.69,"name":"Mini '
 'Kit"},{"category":"Books","price":56.73,"name":"Deluxe '
 'Tool"},{"category":"Books","price":41.16,"name":"Ultra '
 'Set"},{"category":"Books","price":40.12,"name":"Super '
 'Gadget"},{"category":"Electronics","price":83.49,"name":"Deluxe '
 'Set"},{"category":"Electronics","price":76.65,"name":"Ultra '
 'Item"},{"category":"Electronics","price":61.63,"name":"Super '
 'Set"},{"category":"Electronics","price":32.11,"name":"Super '
 'Kit"},{"category":"Home","price":74.32,"name":"Super '
 'Device"},{"category":"Home","price":64.43,"name":"Deluxe '
 'Item"},{"category":"Home","price":58.34,"name":"Deluxe '
 'Device"},{"category":"Home","price":57.61,"name":"Deluxe '
 'Widget"},{"category":"Home","price":51.47,"name":"Eco '
 'Widget"},{"category":"Home","price":42.64,"name":"Ultra '
 'Item"},{"category":"Home","price":20.21,"name":"Smart '
 'Kit"},{"category":"Toys","price":81.9,"name":"Deluxe '
 'Tool"},{"category":"Toys","price":66.59,"name":"Super '
 'Gadget"},{"category":"Toys","price":62.21,"name":"Ultra '
 'Gadget"},{"category":"Toys","price":51.99,"name":"Pro '
 'Gadget"},{"category":"Toys","price":50.53,"name":"Ultra '
 'Item"},{"category":"Toys","price":48.53,"name":"Ultra '
 'Widget"},{"category":"Toys","price":43.88,"name":"Deluxe '
 'Tool"},{"category":"Toys","price":30.9,"name":"Ultra Widget"}]')

In [100]:
file_path1 = "/mnt/c/Users/vikas/Downloads/config_new.json"
file_path2 = "/mnt/c/Users/vikas/Downloads/config_old.json"

In [102]:
with open(file_path1, "r") as file:
    data1 = file.read()

with open(file_path2, "r") as file:
    data2 = file.read()
    
json1 = json.loads(data1)